In [104]:
import pandas as pd
import numpy as np

In [105]:
df= pd.read_csv("Collisions.csv")

In [106]:
df.head(20)

,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,-122.356511,47.517361,1,327920,329420,3856094,Matched,Intersection,34911.0,17TH AVE SW AND SW ROXBURY ST,...,Dry,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,-122.361405,47.702064,2,46200,46200,1791736,Matched,Block,NaN,HOLMAN RD NW BETWEEN 4TH AVE NW AND 3RD AVE NW,...,Wet,Dusk,NaN,5101020.0,NaN,13,From same direction - both going straight - bo...,0,0,N
2,-122.317414,47.664028,3,1212,1212,3507861,Matched,Block,NaN,ROOSEVELT WAY NE BETWEEN NE 47TH ST AND NE 50T...,...,Dry,Dark - Street Lights On,NaN,NaN,NaN,30,From opposite direction - all others,0,0,N
3,-122.318234,47.619927,4,327909,329409,EA03026,Matched,Intersection,29054.0,11TH AVE E AND E JOHN ST,...,Wet,Dark - Street Lights On,NaN,NaN,NaN,0,Vehicle going straight hits pedestrian,0,0,N
4,-122.351724,47.560306,5,104900,104900,2671936,Matched,Block,NaN,WEST MARGINAL WAY SW BETWEEN SW ALASKA ST AND ...,...,Ice,Dark - Street Lights On,NaN,9359012.0,Y,50,Fixed object,0,0,N
5,-122.333067,47.544302,6,322205,323705,3694789,Matched,Block,NaN,1ST AV S NB OFF RP BETWEEN 1ST AV S BR NB AND ...,...,Dry,Daylight,NaN,NaN,NaN,14,From same direction - both going straight - on...,0,0,N
6,-122.338543,47.616874,7,322275,323775,E949282,Matched,Block,NaN,8TH AVE BETWEEN WESTLAKE AVE AND BLANCHARD ST,...,Dry,Daylight,NaN,NaN,NaN,5,Vehicle Strikes Pedalcyclist,0,0,N
7,NaN,NaN,8,5721,5721,1786583,Unmatched,NaN,NaN,NaN,...,Dry,Daylight,NaN,3239035.0,NaN,32,One parked--one moving,0,0,N
8,-122.360959,47.571594,9,33400,33400,1076890,Matched,Block,NaN,WEST SEATTLE BR WB BETWEEN W SEATTLE BR WB OFF...,...,Dry,Daylight,NaN,5187041.0,NaN,13,From same direction - both going straight - bo...,0,0,N
9,-122.336856,47.655652,10,20400,20400,1220377,Matched,Block,NaN,N 40TH ST BETWEEN DENSMORE AVE N AND WALLINGFO...,...,Wet,Dusk,NaN,4216016.0,NaN,14,From same direction - both going straight - on...,0,0,N
10,-122.316123,47.607424,11,1018,1018,3645722,Unmatched,Block,NaN,E JAMES CT BETWEEN 12TH AVE AND 13TH AVE,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N
11,-122.385859,47.581191,12,64700,64700,2798260,Matched,Block,NaN,SW ADMIRAL WAY BETWEEN 42ND AVE SW AND CALIFOR...,...,Dry,Daylight,NaN,7204015.0,NaN,10,Entering at angle,0,0,N
12,-122.344896,47.717173,13,1003,1003,3503158,Matched,Block,NaN,AURORA AVE N BETWEEN N 117TH PL AND N 125TH ST,...,Dry,Daylight,Y,NaN,NaN,45,Vehicle - Pedalcyclist,15057,0,N
13,-122.334201,47.578771,14,43600,43600,1482399,Matched,Block,NaN,1ST AVE S BETWEEN S LANDER ST AND S FOREST ST,...,Dry,Daylight,NaN,5067010.0,NaN,22,One car leaving driveway access,0,0,N
14,-122.337486,47.589746,15,28700,28700,1213894,Matched,Block,NaN,ALASKAN WY VI SB BETWEEN ALASKAN WY VI SB EFR ...,...,Unknown,Unknown,NaN,4256026.0,NaN,51,Other object,0,0,N
15,-122.358250,47.732321,16,63600,63600,2188744,Matched,Intersection,35587.0,1ST AVE NW AND NW 143RD ST,...,Dry,Daylight,NaN,6136002.0,NaN,45,Vehicle - Pedalcyclist,0,0,N
16,-122.408105,47.576818,17,1193,1193,3380606,Matched,Block,NaN,59TH AVE SW BETWEEN SW STEVENS ST AND SW ADMIR...,...,Dry,Daylight,NaN,NaN,NaN,32,One parked--one moving,0,0,N
17,NaN,NaN,18,327878,329378,EA03057,Matched,NaN,NaN,NaN,...,Unknown,Unknown,NaN,NaN,NaN,32,One parked--one moving,0,0,Y
18,-122.343982,47.622607,19,118600,118600,2690466,Unmatched,Block,NaN,AURORA AVE N BETWEEN HARRISON ST AND REPUBLICA...,...,NaN,NaN,NaN,11269046.0,NaN,NaN,NaN,0,0,N
19,-122.336747,47.686304,20,1351,1351,3501460,Matched,Block,NaN,WALLINGFORD AVE N BETWEEN EAST GREEN LAKE DR N...,...,Dry,Daylight,NaN,NaN,NaN,32,One parked--one moving,0,0,N

In [107]:
df.dtypes

X                  float64
Y                  float64
OBJECTID             int64
INCKEY               int64
COLDETKEY            int64
REPORTNO            object
STATUS              object
ADDRTYPE            object
INTKEY             float64
LOCATION            object
EXCEPTRSNCODE       object
EXCEPTRSNDESC       object
SEVERITYCODE        object
SEVERITYDESC        object
COLLISIONTYPE       object
PERSONCOUNT          int64
PEDCOUNT             int64
PEDCYLCOUNT          int64
VEHCOUNT             int64
INJURIES             int64
SERIOUSINJURIES      int64
FATALITIES           int64
INCDATE             object
INCDTTM             object
JUNCTIONTYPE        object
SDOT_COLCODE       float64
SDOT_COLDESC        object
INATTENTIONIND      object
UNDERINFL           object
WEATHER             object
ROADCOND            object
LIGHTCOND           object
PEDROWNOTGRNT       object
SDOTCOLNUM         float64
SPEEDING            object
ST_COLCODE          object
ST_COLDESC          object
SEGLANEKEY           int64
CROSSWALKKEY         int64
HITPARKEDCAR        object
dtype: object

In [108]:
df.shape

(221738, 40)

In [109]:
df["SEVERITYCODE"].value_counts()

1     137776
2      58842
0      21656
2b      3111
3        352
Name: SEVERITYCODE, dtype: int64

In [110]:
df["SEVERITYDESC"].value_counts()

Property Damage Only Collision    137776
Injury Collision                   58842
Unknown                            21657
Serious Injury Collision            3111
Fatality Collision                   352
Name: SEVERITYDESC, dtype: int64

In [111]:
df.drop(df.index[df["SEVERITYDESC"]=='Unknown'], axis = 0, inplace=True)

In [112]:
df.shape

(200081, 40)

In [113]:
df["SEVERITYDESC"].value_counts()

Property Damage Only Collision    137776
Injury Collision                   58842
Serious Injury Collision            3111
Fatality Collision                   352
Name: SEVERITYDESC, dtype: int64

In [114]:
df.drop(["OBJECTID","INCKEY","COLDETKEY","REPORTNO","EXCEPTRSNCODE","EXCEPTRSNDESC"],axis= 1, inplace= True)

In [115]:
df.shape

(200081, 34)

In [116]:
df.head()

,X,Y,STATUS,ADDRTYPE,INTKEY,LOCATION,SEVERITYCODE,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,-122.356511,47.517361,Matched,Intersection,34911.0,17TH AVE SW AND SW ROXBURY ST,1,Property Damage Only Collision,Angles,2,...,Dry,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,-122.361405,47.702064,Matched,Block,NaN,HOLMAN RD NW BETWEEN 4TH AVE NW AND 3RD AVE NW,1,Property Damage Only Collision,Rear Ended,2,...,Wet,Dusk,NaN,5101020.0,NaN,13,From same direction - both going straight - bo...,0,0,N
2,-122.317414,47.664028,Matched,Block,NaN,ROOSEVELT WAY NE BETWEEN NE 47TH ST AND NE 50T...,2,Injury Collision,Head On,2,...,Dry,Dark - Street Lights On,NaN,NaN,NaN,30,From opposite direction - all others,0,0,N
3,-122.318234,47.619927,Matched,Intersection,29054.0,11TH AVE E AND E JOHN ST,2,Injury Collision,Pedestrian,3,...,Wet,Dark - Street Lights On,NaN,NaN,NaN,0,Vehicle going straight hits pedestrian,0,0,N
4,-122.351724,47.560306,Matched,Block,NaN,WEST MARGINAL WAY SW BETWEEN SW ALASKA ST AND ...,2,Injury Collision,Other,2,...,Ice,Dark - Street Lights On,NaN,9359012.0,Y,50,Fixed object,0,0,N